@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
background-image: url('../images/websiteBG.png');
background-repeat: no-repeat;
background-size:cover;
}

.logo {
    height: 30%;
    width: 30%;
    display: flex;
    margin: 30px;
    margin-top: 10px;
}
.header {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    word-spacing: 30px;
    font-family: 'Monoton', sans-serif;
}

.neon {
  color: rgb(35, 13, 156);
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw rgb(35, 13, 156), 0 0 3vw rgb(92, 6, 206), 0 0 10vw rgb(92, 6, 206), 0 0 10vw rgb(92, 6, 206), 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #ffffff, 0 0 1.5vw #ffffff, 0 0 5vw #ffffff, 0 0 5vw #ffffff, 0 0 .2vw #ffffff, .5vw .5vw .1vw #ffffff;
    color: #806914;
  }
}

.nav-bar {
    font-family: 'Cinzel', serif;
    font-size: 2em;
border: 8px double #FF08FB;
border-radius: 18px; 
margin-left: 20px;
margin-right:20px;   
}

.neon2 {
     color: rgb(35, 13, 156);
  text-shadow: 0 0 3vw #F40A35;
  font-family: 'Cinzel', serif;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-container {
    margin: auto;
    margin-left: 10px;
    padding-top: 50px;
}

img {
    margin:auto;
}

.about {
    padding: 50px;
    padding-top: 70px;
}

.about-image {
    border: double 3px black;
}

.neon-footer {
 color: #f7f5fa;
    font-size: 1.5em;
    text-shadow: 0 0 3vw #F40A35;
    border: 10px solid, rgba(250, 247, 247, 0.973);
    list-style-type: none;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 50px;
}

.social {
    color: #000000;
    font-size: 1.5em;
}

.show-text {
    justify-content: center;
    align-items: center;
}

.slideshow {
    padding: 50px;
    margin:auto;
    height: 50%;
}
