@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
 background-color: #8e11bf;
background-image: linear-gradient(to top, #8e11bf 0%, #f8ff2b 100%);
}

.logo {
    height: 20%;
    width: 20%;
    display: flex;
    border-radius: 50%;
    border: 2px solid yellow;
    margin: 30px;
    margin-top: 10px;
}
.header {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    word-spacing: 30px;
    font-family: 'Monoton', sans-serif;
}

.neon {
  color: rgb(35, 13, 156);
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.nav-bar {
    font-family: 'Cinzel', serif;
    font-size: 2em;
border: 8px double #FF08FB;
border-radius: 18px; 
margin-left: 20px;
margin-right:20px;   
}

.neon2 {
     color: rgb(35, 13, 156);
  text-shadow: 0 0 3vw #F40A35;
}

}
